In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/home/sinatavakoli2022/Retail-Data-Pipeline/Airflow/data/retail_new_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    302010 non-null  int64
 1   Customer_ID       302010 non-null  int64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               302010 non-null  int64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  object
 15  Year              302010 non-null  int64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   302010 non-null  int64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: float64(5), int64(5), object(20)
memory usage: 69.1+ MB

In [ ]:
data['Total_Purchases'] = data['Total_Purchases'].fillna(0).astype(int)
data['Age'] = data['Age'].fillna(0).astype(int)
data['Year'] = data['Year'].fillna(0).astype(int)
data['Transaction_ID'] = data['Transaction_ID'].fillna(0).astype(int)
data['Customer_ID'] = data['Customer_ID'].fillna(0).astype(int)
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [ ]:
data.info()

In [ ]:
data = pd.read_csv('/home/sinatavakoli2022/Retail-Data-Pipeline/Airflow/data/retail_new_data.csv',dtype={
    'Total_Purchases': int,
    'Age': int,
    'Year': int,
    'Transaction_ID':int,
    'Customer_ID':int
})

In [ ]:
data['products'].head()