In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,mean,lower,trim,to_date,when

In [2]:
spark = SparkSession.builder \
    .appName('Transformation')\
    .master('local[*]')\
    .getOrCreate()
print('spark session was initialized successfully')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/01 09:13:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

spark session was initialized successfully

In [3]:
raw_data = spark.read.csv('/home/sinatavakoli2022/Retail-Data-Pipeline/Airflow/data/retail_raw_data.csv',header=True)
df = pd.read_csv('/home/sinatavakoli2022/Retail-Data-Pipeline/Airflow/data/retail_raw_data.csv')

In [4]:
raw_data.printSchema()

root
 |-- Transaction_ID: string (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Customer_Segment: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Total_Purchases: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Total_Amount: string (nullable = true)
 |-- Product_Category: string (nullable = true)
 |-- Product_Brand: string (nullable = true)
 |-- Product_Type: string (nullable = true)
 |-- Feedback: string (nullable = true)
 |-- Shipping_Method: string (nullable = true)
 |-- Payment_Method: string (nullable = true)
 |-- Order_Status: string (nullable = true)
 |-- Ratings: string (nullable = true)
 |-- products: string (nullable = true)

In [5]:
raw_data.show(5,truncate=False)

25/04/01 09:13:23 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------+-----------+-------------------+-------------------+------------+---------------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|Transaction_ID|Customer_ID|Name               |Email              |Phone       |Address                    |City      |State          |Zipcode|Country  |Age |Gender|Income|Customer_Segment|Date      |Year  |Month    |Time    |Total_Purchases|Amount     |Total_Amount|Product_Category|Product_Brand|Product_Type|Feedback |Shipping_Method|Payment_Method|Order_Status|Ratings|products         |
+--------------+-----------+-------------------+-------------------+------------+---------------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|8691788.0     |37249.0    |Michelle Harrington|Ebony39@gmail.com  |1414786801.0|3959 Amanda Burgs          |Dortmund  |Berlin         |77985.0|Germany  |21.0|Male  |Low   |Regular         |9/18/2023 |2023.0|September|22:03:55|3.0            |108.0287567|324.08627   |Clothing        |Nike         |Shorts      |Excellent|Same-Day       |Debit Card    |Shipped     |5.0    |Cycling shorts   |
|2174773.0     |69749.0    |Kelsey Hill        |Mark36@gmail.com   |6852899987.0|82072 Dawn Centers         |Nottingham|England        |99071.0|UK       |19.0|Female|Low   |Premium         |12/31/2023|2023.0|December |8:42:04 |2.0            |403.3539073|806.7078147 |Electronics     |Samsung      |Tablet      |Excellent|Standard       |Credit Card   |Processing  |4.0    |Lenovo Tab       |
|6679610.0     |30192.0    |Scott Jensen       |Shane85@gmail.com  |8362160449.0|4133 Young Canyon          |Geelong   |New South Wales|75929.0|Australia|48.0|Male  |Low   |Regular         |4/26/2023 |2023.0|April    |4:06:29 |3.0            |354.4775997|1063.432799 |Books           |Penguin Books|Children's  |Average  |Same-Day       |Credit Card   |Processing  |2.0    |Sports equipment |
|7232460.0     |62101.0    |Joseph Miller      |Mary34@gmail.com   |2776751724.0|8148 Thomas Creek Suite 100|Edmonton  |Ontario        |88420.0|Canada   |56.0|Male  |High  |Premium         |5/8/2023  |2023.0|May      |14:55:17|7.0            |352.4077173|2466.854021 |Home Decor      |Home Depot   |Tools       |Excellent|Standard       |PayPal        |Processing  |4.0    |Utility knife    |
|4983775.0     |27901.0    |Debra Coleman      |Charles30@gmail.com|9098267635.0|5813 Lori Ports Suite 269  |Bristol   |England        |48704.0|UK       |22.0|Male  |Low   |Premium         |1/10/2024 |2024.0|January  |16:54:07|2.0            |124.2765245|248.5530491 |Grocery         |Nestle       |Chocolate   |Bad      |Standard       |Cash          |Shipped     |1.0    |Chocolate cookies|
+--------------+-----------+-------------------+-------------------+------------+---------------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
only showing top 5 rows

In [6]:
casted_data = raw_data.select(

    col('Transaction_ID').cast('long'),
    col('Customer_ID').cast('long'),
    col('Name'),
    col('Email'),
    col('Phone').cast('string'),
    col('Address'),
    col('City'),
    col('State'),
    col('Zipcode'),
    col('Country'),
    col('Age').cast('integer'),
    col('Gender'),
    col('Income'),
    col('Customer_Segment'),
    to_date(col('Date'), 'M/d/yyyy').alias('Date'),
    col('Year').cast('integer'),
    col('Month'),
    col('Time'),
    col('Total_Purchases').cast('integer'),
    col('Amount').cast('double'),
    col('Total_Amount').cast('double'),
    col('Product_Category'),
    col('Product_Brand'),
    col('Product_Type'),
    col('Feedback'),
    col('Shipping_Method'),
    col('Payment_Method'),
    col('Order_Status'),
    col('Ratings').cast('double'),
    col('products')
)

In [7]:
casted_data.show(5)

+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|Transaction_ID|Customer_ID|               Name|              Email|       Phone|             Address|      City|          State|Zipcode|  Country|Age|Gender|Income|Customer_Segment|      Date|Year|    Month|    Time|Total_Purchases|     Amount|Total_Amount|Product_Category|Product_Brand|Product_Type| Feedback|Shipping_Method|Payment_Method|Order_Status|Ratings|         products|
+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|       8691788|      37249|Michelle Harrington|  Ebony39@gmail.com|1414786801.0|   3959 Amanda Burgs|  Dortmund|         Berlin|77985.0|  Germany| 21|  Male|   Low|         Regular|2023-09-18|2023|September|22:03:55|              3|108.0287567|   324.08627|        Clothing|         Nike|      Shorts|Excellent|       Same-Day|    Debit Card|     Shipped|    5.0|   Cycling shorts|
|       2174773|      69749|        Kelsey Hill|   Mark36@gmail.com|6852899987.0|  82072 Dawn Centers|Nottingham|        England|99071.0|       UK| 19|Female|   Low|         Premium|2023-12-31|2023| December| 8:42:04|              2|403.3539073| 806.7078147|     Electronics|      Samsung|      Tablet|Excellent|       Standard|   Credit Card|  Processing|    4.0|       Lenovo Tab|
|       6679610|      30192|       Scott Jensen|  Shane85@gmail.com|8362160449.0|   4133 Young Canyon|   Geelong|New South Wales|75929.0|Australia| 48|  Male|   Low|         Regular|2023-04-26|2023|    April| 4:06:29|              3|354.4775997| 1063.432799|           Books|Penguin Books|  Children's|  Average|       Same-Day|   Credit Card|  Processing|    2.0| Sports equipment|
|       7232460|      62101|      Joseph Miller|   Mary34@gmail.com|2776751724.0|8148 Thomas Creek...|  Edmonton|        Ontario|88420.0|   Canada| 56|  Male|  High|         Premium|2023-05-08|2023|      May|14:55:17|              7|352.4077173| 2466.854021|      Home Decor|   Home Depot|       Tools|Excellent|       Standard|        PayPal|  Processing|    4.0|    Utility knife|
|       4983775|      27901|      Debra Coleman|Charles30@gmail.com|9098267635.0|5813 Lori Ports S...|   Bristol|        England|48704.0|       UK| 22|  Male|   Low|         Premium|2024-01-10|2024|  January|16:54:07|              2|124.2765245| 248.5530491|         Grocery|       Nestle|   Chocolate|      Bad|       Standard|          Cash|     Shipped|    1.0|Chocolate cookies|
+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
only showing top 5 rows

In [8]:
df.isnull().sum()

Transaction_ID      333
Customer_ID         308
Name                382
Email               347
Phone               362
Address             315
City                248
State               281
Zipcode             340
Country             271
Age                 173
Gender              317
Income              290
Customer_Segment    215
Date                359
Year                350
Month               273
Time                350
Total_Purchases     361
Amount              357
Total_Amount        350
Product_Category    283
Product_Brand       281
Product_Type          0
Feedback            184
Shipping_Method     337
Payment_Method      297
Order_Status        235
Ratings             184
products              0
dtype: int64

In [9]:
raw_data =raw_data.dropDuplicates()

In [10]:
age_average = int(df['Age'].mean())
rating_average = int(df['Ratings'].mean())

In [11]:
clean_data = casted_data.dropna(subset=['Transaction_ID','Customer_ID','Amount','Total_Amount'])
clean_data = clean_data.fillna({'Ratings':rating_average,'City':'Unknown','State':'Unknown','Country':'Unknown','Gender':'Unknown','Income':'Unknown',
                               'Customer_Segment':'Unknown','Product_Category':'Unknown','Product_Brand':'Unknown','Shipping_Method':'Unknown','Payment_Method':'Unknown','Age':age_average})

In [12]:
clean_data = clean_data.drop('Name','Email','Phone','Address','Feedback','Order_Status')

In [13]:
clean_data.show(5)

+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
|Transaction_ID|Customer_ID|      City|          State|Zipcode|  Country|Age|Gender|Income|Customer_Segment|      Date|Year|    Month|    Time|Total_Purchases|     Amount|Total_Amount|Product_Category|Product_Brand|Product_Type|Shipping_Method|Payment_Method|Ratings|         products|
+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
|       8691788|      37249|  Dortmund|         Berlin|77985.0|  Germany| 21|  Male|   Low|         Regular|2023-09-18|2023|September|22:03:55|              3|108.0287567|   324.08627|        Clothing|         Nike|      Shorts|       Same-Day|    Debit Card|    5.0|   Cycling shorts|
|       2174773|      69749|Nottingham|        England|99071.0|       UK| 19|Female|   Low|         Premium|2023-12-31|2023| December| 8:42:04|              2|403.3539073| 806.7078147|     Electronics|      Samsung|      Tablet|       Standard|   Credit Card|    4.0|       Lenovo Tab|
|       6679610|      30192|   Geelong|New South Wales|75929.0|Australia| 48|  Male|   Low|         Regular|2023-04-26|2023|    April| 4:06:29|              3|354.4775997| 1063.432799|           Books|Penguin Books|  Children's|       Same-Day|   Credit Card|    2.0| Sports equipment|
|       7232460|      62101|  Edmonton|        Ontario|88420.0|   Canada| 56|  Male|  High|         Premium|2023-05-08|2023|      May|14:55:17|              7|352.4077173| 2466.854021|      Home Decor|   Home Depot|       Tools|       Standard|        PayPal|    4.0|    Utility knife|
|       4983775|      27901|   Bristol|        England|48704.0|       UK| 22|  Male|   Low|         Premium|2024-01-10|2024|  January|16:54:07|              2|124.2765245| 248.5530491|         Grocery|       Nestle|   Chocolate|       Standard|          Cash|    1.0|Chocolate cookies|
+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
only showing top 5 rows

In [14]:
clean_data = clean_data.filter(col('Amount') >= 0)
clean_data = clean_data.filter(col('Total_Amount') >=0 )
clean_data = clean_data.filter((col('Age') >=0 )&(col('Age') <= 100))
clean_data = clean_data.filter((col('Ratings') >=1 )&(col('Ratings') <= 5))

In [15]:
clean_data = clean_data.withColumn('City',lower(trim(col('City'))))
clean_data = clean_data.withColumn('State',lower(trim(col('State'))))
clean_data = clean_data.withColumn('Country',lower(trim(col('Country'))))
clean_data = clean_data.withColumn('Gender',lower(trim(col('Gender'))))
clean_data = clean_data.withColumn('Income',lower(trim(col('Income'))))
clean_data = clean_data.withColumn('Customer_Segment',lower(trim(col('Customer_Segment'))))
clean_data = clean_data.withColumn('Product_Category',lower(trim(col('Product_Category'))))
clean_data = clean_data.withColumn('Product_Brand',lower(trim(col('Product_Brand'))))
clean_data = clean_data.withColumn('Product_Type',lower(trim(col('Product_Type'))))
clean_data = clean_data.withColumn('Shipping_Method',lower(trim(col('Shipping_Method'))))
clean_data = clean_data.withColumn('Payment_Method',lower(trim(col('Payment_Method'))))
clean_data = clean_data.withColumn('products',lower(trim(col('products'))))

In [16]:
def to_snake_case(column_name):
    return column_name.lower().replace(' ','_').replace('-','_')

final_clean_data = clean_data.select(
    [col(column).alias(to_snake_case(column)) for column in clean_data.columns]
)

In [17]:
final_clean_data.show(5)

+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
|transaction_id|customer_id|      city|          state|zipcode|  country|age|gender|income|customer_segment|      date|year|    month|    time|total_purchases|     amount|total_amount|product_category|product_brand|product_type|shipping_method|payment_method|ratings|         products|
+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
|       8691788|      37249|  dortmund|         berlin|77985.0|  germany| 21|  male|   low|         regular|2023-09-18|2023|September|22:03:55|              3|108.0287567|   324.08627|        clothing|         nike|      shorts|       same-day|    debit card|    5.0|   cycling shorts|
|       2174773|      69749|nottingham|        england|99071.0|       uk| 19|female|   low|         premium|2023-12-31|2023| December| 8:42:04|              2|403.3539073| 806.7078147|     electronics|      samsung|      tablet|       standard|   credit card|    4.0|       lenovo tab|
|       6679610|      30192|   geelong|new south wales|75929.0|australia| 48|  male|   low|         regular|2023-04-26|2023|    April| 4:06:29|              3|354.4775997| 1063.432799|           books|penguin books|  children's|       same-day|   credit card|    2.0| sports equipment|
|       7232460|      62101|  edmonton|        ontario|88420.0|   canada| 56|  male|  high|         premium|2023-05-08|2023|      May|14:55:17|              7|352.4077173| 2466.854021|      home decor|   home depot|       tools|       standard|        paypal|    4.0|    utility knife|
|       4983775|      27901|   bristol|        england|48704.0|       uk| 22|  male|   low|         premium|2024-01-10|2024|  January|16:54:07|              2|124.2765245| 248.5530491|         grocery|       nestle|   chocolate|       standard|          cash|    1.0|chocolate cookies|
+--------------+-----------+----------+---------------+-------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------------+--------------+-------+-----------------+
only showing top 5 rows

In [18]:
final_clean_data.printSchema()

root
 |-- transaction_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- city: string (nullable = false)
 |-- state: string (nullable = false)
 |-- zipcode: string (nullable = true)
 |-- country: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- gender: string (nullable = false)
 |-- income: string (nullable = false)
 |-- customer_segment: string (nullable = false)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- time: string (nullable = true)
 |-- total_purchases: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- product_category: string (nullable = false)
 |-- product_brand: string (nullable = false)
 |-- product_type: string (nullable = true)
 |-- shipping_method: string (nullable = false)
 |-- payment_method: string (nullable = false)
 |-- ratings: double (nullable = false)
 |-- products: string (nullable = true)

In [19]:
final_clean_data.repartition(1).write.options(header='true',delimiter=',').csv('/home/sinatavakoli2022/Retail-Data-Pipeline/Airflow/data/final_clean_data.csv',mode='overwrite')